{% extends "layouts/base.html" %}

{% block title %}SafePaws - Roles del Sistema{% endblock %}

{% block content %}
<div class="list-header">
    <h1 class="section-title">Listado de Roles</h1>

    {% include 'layouts/partials/btn-back.html' %}
</div>

<div class="main-container-flex">
    <div class="search-section-container">
        <div class="search-bar-container">
            <div class="search-input-wrapper">
                <span class="search-icon">🔍</span>
                <input type="text" id="searchInput" class="search-input-list"
                    placeholder="Buscar por nombre, apellidos, email, tipo, estado o año" oninput="filterTable()">
            </div>

            <div class="filter-buttons">
                <div style="position: relative; display: inline-block;">
                    <button id="btnSortDate" class="btn-filter">📅 Fecha</button>
                </div>
            </div>

            <div class="filter-dropdown-container">
                <button id="btnFilterStatus" class="btn-filter">🔽 Filtros</button>
                <div id="filterMenu" class="filter-dropdown-content">
                    <a href="#" onclick="filterByStatus('Todos')">Todos</a>
                    <a href="#" onclick="filterByStatus('Activo')">Activo</a>
                    <a href="#" onclick="filterByStatus('Inactivo')">Inactivo</a>
                    <a href="#" onclick="filterByStatus('Suspendido')">Suspendido</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="table-wrapper">
    <table class="data-table-list">
        <thead>
            <tr>
                <th onclick="sortTable('id')">ID <span class="sort-icon">↕</span></th>
                <th onclick="sortTable('tipo')">Rol <span class="sort-icon">↕</span></th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="tableBody">
        <tr>
            {% for role in roles %}
             <td>{{ role.id }}</td>
            <td>{{ role.name }}</td>
            <td>
            <a href="{% url 'roles_form_edit' role.id %}">Editar</a>
            <form method="POST" action="{% url 'roles_delete' role.id %}">
                {% csrf_token %}
                <button type="submit" onclick="return confirm('¿Eliminar rol?');">
                Eliminar
                </button>
            </form>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}