{% extends "layouts/base.html" %}

{% block title %}SafePaws - Registrar Nuevo Rol{% endblock %}

{% block content %}
<div class="form-view">
  <div class="form-header">
    <h2 class="form-title">Información del Rol</h2>
    <p style="color: #64748b; font-size: 0.875rem; margin-top: 0.5rem">
      Completa todos los campos para registrar un nuevo rol en el sistema
    </p>
  </div>

  <form id="formNuevoRol" class="animal-form"  method="POST">
  {% csrf_token %}
    <!-- Sección 1: Nombre, Apellidos, Email, Teléfono -->
    <fieldset class="form-row">
      <legend>Datos Rol</legend>
      <div class="form-row">
        <div class="form-group">
          <label for="nombre">Nombre *</label>
          <input type="text" id="nombre" name="name" class="form-control-list" placeholder="Nombre"
            autocomplete="given-name" value="{{ role.name|default:'' }}" required />
        </div>
      </div>
    </fieldset>

    <!-- Sección 2: Usuario, Contraseña, Tipo usuario, Estado -->
    <fieldset>
      <legend>Permisos de Rol</legend>
      <div class="form-row">
      <div class="form-group">
          <label for="tipo">Seleccione los Permisos*</label>
            {% for key, group in permissions.items %}
                <fieldset>
                    <legend>
                        {{ group.icon }} {{ group.label }}
                    </legend>
                        <!-- 👁 VER -->
                        {% if group.perms.view %}
                        <label>
                            <input type="checkbox" name="permissions" value="{{ group.perms.view.id }}"
                                {% if role and group.perms.view in role.permissions_list %}checked{% endif %}>
                            Ver
                        </label>
                        {% endif %}
                        <!-- ➕ CREAR -->
                        {% if group.perms.create %}
                        <label>
                            <input type="checkbox" name="permissions" value="{{ group.perms.create.id }}"
                                {% if role and group.perms.create in role.permissions_list %}checked{% endif %}>
                            Crear
                        </label>
                        {% endif %}

                        <!-- ✏️ EDITAR -->
                        {% if group.perms.update %}
                        <label>
                            <input type="checkbox" name="permissions" value="{{ group.perms.update.id }}"
                                {% if role and group.perms.update in role.permissions_list %}checked{% endif %}>
                            Editar
                        </label>
                        {% endif %}
                        <!-- 🗑 ELIMINAR -->
                        {% if group.perms.delete %}
                        <label>
                            <input type="checkbox" name="permissions" value="{{ group.perms.delete.id }}"
                                {% if role and group.perms.delete in role.permissions_list %}checked{% endif %}>
                            Eliminar
                        </label>
                        {% endif %}
                </fieldset>
            {% endfor %}
            </div>
      </div>
    </fieldset>

    <!-- Sección 3: Descripción del rol -->
    <fieldset>
      <legend>Descripción</legend>
      <div class="form-row">
        <div class="form-group form-group-full">
          <textarea id="observaciones" name="observaciones" class="form-control-list form-textarea"
            placeholder="Descripción del rol"></textarea>
        </div>
      </div>
    </fieldset>


    <!-- Botones -->
    <div class="form-buttons">
      <button type="submit" class="btn-success">✅ Registrar Rol</button>

      <button type="reset" class="btn-danger" style="background-color: #f59e0b">
        🔄 Limpiar Formulario
      </button>

      {% include 'layouts/partials/btn-back.html' %}
    </div>
  </form>
</div>
{% endblock %}