{% extends "layouts/base.html" %}

{% block title %}SafePaws - Funciones asignadas a los Voluntarios{% endblock %}

{% block content %}

{% include 'layouts/partials/btn-back.html' %}

<div class="table-container">
    <table class="data-table">
        <thead>
            <tr>
                <th>Voluntario</th>
                <th>Tarea</th>
                <th>Fecha Inicio</th>
                <th>Estado</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Ana López</td>
                <td style="color: #cbd5e1;">Cuidado diario</td>
                <td style="color: #cbd5e1;">15/01/2026</td>
                <td><span class="status-badge status-available">Activa</span></td>
            </tr>

            <tr>
                <td>Carlos Ruiz</td>
                <td style="color: #cbd5e1;">Control veterinario</td>
                <td style="color: #cbd5e1;">10/01/2026</td>
                <td><span class="status-badge status-adoption">En Proceso</span></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}