{% extends "layouts/base.html" %}

{% block title %}SafePaws - Gestión de Animales{% endblock %}

{% block content %}
<div class="list-header">
    <h1 class="section-title">Listado de Animales</h1>

    {% include 'layouts/partials/btn-back.html' %}
</div>

<div class="main-container-flex">
    <div class="search-section-container">
        <div class="search-bar-container">
            <div class="search-input-wrapper">
                <span class="search-icon">🔍</span>
                <input type="text" id="searchInput" class="search-input-list"
                    placeholder="Buscar por nombre, especie, ID..." oninput="filterTable()">
            </div>

            <div class="filter-buttons">
                <div style="position: relative; display: inline-block;">
                    <button id="btnSortDate" class="btn-filter">📅 Fecha</button>
                </div>
            </div>

            <div class="filter-dropdown-container">
                <button id="btnFilterStatus" class="btn-filter">🔽 Filtros</button>
                <div id="filterMenu" class="filter-dropdown-content">
                    <a href="#" onclick="filterByStatus('Todos')">Todos</a>
                    <a href="#" onclick="filterByStatus('Perro')">Perros</a>
                    <a href="#" onclick="filterByStatus('Gato')">Gatos</a>
                    <a href="#" onclick="filterByStatus('Conejo')">Conejos</a>
                    <a href="#" onclick="filterByStatus('Pajaro')">Pájaros</a>
                    <a href="#" onclick="filterByStatus('Hamster')">Hamsters</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="table-wrapper">
    <table class="data-table-list">
        <thead>
            <tr>
                <th onclick="sortTable('animal_name')">Nombre del animal<span class="sort-icon">↕</span></th>
                <th onclick="sortTable('owner_name')">Cuidador <span class="sort-icon">↕</span></th>
                <th onclick="sortTable('specie')">Especie <span class="sort-icon">↕</span></th>
                <th onclick="sortTable('sex')">Sexo <span class="sort-icon">↕</span></th>
                <th onclick="sortTable('addmission_date')">Fecha de Ingreso <span class="sort-icon">↕</span></th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody id="tableBody">
            {% for animal in animales %}
            <tr>
                <td>{{ animal.name }}</td>
                <td>{{ animal.owner.name }}</td>
                <td>{{ animal.species }}</td>
                <td>{{ animal.sex }}</td>
                <td>{{ animal.admission_date }}</td>
                <td>
                    <div class="actions-cell">
                        <a href="{% url 'animales_details' animal.id %}" class="action-btn action-details"
                            title="Ver detalles">👁️</a>

                        <a href="{% url 'animales_form_edit' animal.id %}" class="action-btn action-edit"
                            title="Editar">✏️</a>

                        <form method="post" action="{% url 'animales_delete' animal.id %}">
                            {% csrf_token %}
                            <button type="submit" class="action-btn action-delete" title="Eliminar"
                                onclick="return confirm('¿Eliminar animal?');">❌</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="9">No hay animales registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}